[submodule "shadcn-app-shell"]
	path = shadcn-app-shell
	url = https://github.com/jamesulip/shadcn-app-shell.git
[submodule "laravel-inertia-vue"]
	path = laravel-inertia-vue
	url = git@github.com:jamesulip/skill-laravel-inertia-vue.git
